.swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

.swiper-slide {
  position: relative;
  background-position: center;
  overflow: hidden;
  width: 1440px;
  object-fit: cover;
}

.swiper-slide::before {
  content: ""; /* Wajib untuk pseudo-element */
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, black, transparent); /* Gradasi dari hitam ke transparan */
  z-index: 5; /* Pastikan berada di atas gambar */
  pointer-events: none; /* Agar tidak menghalangi interaksi pengguna dengan slide */
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
  
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

img.loading {
  display: none;
}

img.loaded {
  display: block;
  width: 100%;
  height: auto;
}

/* Mengubah warna titik pagination */
.swiper-pagination-bullet {
  background-color: #fff; /* Warna default */
  opacity: 0.6; /* Transparansi default */
}

/* Mengubah warna titik pagination aktif */
.swiper-pagination-bullet-active {
  background-color: #f49b33; /* Warna titik aktif */
  opacity: 1; /* Transparansi penuh */
}
