@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-poppins {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.font-adlamDisplay {
  font-family: "ADLaM Display", serif;
  font-style: normal;
}

.font-albertSans {
  font-family: "Albert Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* 3d timer start */
.parent-card {
  @apply font-adlamDisplay relative w-12 flex flex-col gap-[2px] items-center rounded-md overflow-hidden shadow-sm shadow-black;
}

.top-card {
  @apply shadow-sm shadow-black;
}

.top-card,
.top-flip {
  @apply bg-[#1E1E1E] items-start;
}

.bottom-card,
.bottom-flip {
  @apply bg-[#3a3a3a] items-end;
}

.top-card,
.bottom-card,
.top-flip,
.bottom-flip {
  @apply w-full h-[.75em] overflow-hidden flex justify-center text-white text-[40px] pb-[2px] font-normal;
}

.top-flip {
  @apply origin-bottom absolute;
  animation: topFlip 300ms ease-in forwards;
}
@keyframes topFlip {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(90deg);
  }
}
.bottom-flip {
  @apply origin-top absolute bottom-0;
  animation: bottomFlip 300ms ease-out 300ms backwards;
}
@keyframes bottomFlip {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.dot-separator {
  @apply w-[8px] aspect-square bg-black rounded-full shadow-sm shadow-black;
}
/* 3d timer end */

.placeholder {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.315);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
}

.placeholder::before,
.placeholder::after {
  content: "";
  width: 40px;
  height: 40px;
  border: 4px solid transparent;
  border-top: 4px solid rgba(255, 184, 103, 0.6);
  border-radius: 50%;
  position: absolute;
}

.placeholder::before {
  animation: spin 2s linear infinite reverse;
}

.placeholder::after {
  width: 30px;
  height: 30px;
  border: 4px solid transparent;
  border-bottom: 3px solid rgba(255, 184, 103, 0.4);
  border-left: 3px solid rgba(255, 184, 103, 0.4);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

img.loading {
  display: none;
}

img.loaded {
  display: block;
  width: 100%;
  height: auto;
}

.scroll-none {
  scrollbar-width: none;
}
