@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 3d timer start */
.parent-card {
  @apply font-adlamDisplay relative w-12 flex flex-col gap-[2px] items-center rounded-md overflow-hidden shadow-sm shadow-black;
}

.top-card {
  @apply shadow-sm shadow-black;
}

.top-card,
.top-flip {
  @apply bg-[#1E1E1E] items-start;
}

.bottom-card,
.bottom-flip {
  @apply bg-[#3a3a3a] items-end;
}

.top-card,
.bottom-card,
.top-flip,
.bottom-flip {
  @apply w-full h-[.75em] overflow-hidden flex justify-center text-white text-[40px] pb-[2px] font-normal;
}

.top-flip {
  @apply origin-bottom absolute;
  animation: topFlip 300ms ease-in forwards;
}
@keyframes topFlip {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(90deg);
  }
}
.bottom-flip {
  @apply origin-top absolute bottom-0;
  animation: bottomFlip 300ms ease-out 300ms backwards;
}
@keyframes bottomFlip {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.dot-separator {
  @apply w-[8px] aspect-square bg-black rounded-full shadow-sm shadow-black;
}
/* 3d timer end */

.placeholder {
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 1; */
}

img.loading {
  display: none;
}

img.loaded {
  display: block;
  width: 100%;
  height: auto;
}
